html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.fw-medium {
  font-weight: 500;
}

.font-14 {
  font-size: 14px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.text-header:hover {
  color: #b28cc0 !important;
}

.btn-join {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  color: #fff;
  background-color: #212529;
  border-color: #b28cc0;
}

.btn-join:hover {
  color: #b28cc0;
}

.min-hero {
  min-width: 40rem;
}

.hero-image {
  background-image: url(./img/background.png);
  background-position: center;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

.border-hero {
  width: 70%;
  border-bottom: 0.313rem solid #dee2e6 !important;
}

.border-hero2 {
  width: 100%;
  border-bottom: 0.1rem solid #dee2e6 !important;
  padding-top: 3rem;
}

.hero-image3 {
  background-image: url(./img/background-buku.png);
  background-position: center;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

.section-tentang {
  background-image: url(./img/tentang.jpg);
  background-position: center;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

/* .deskripsi-tentang {
  padding-left: 15rem;
  padding-right: 20rem;
  padding-top: 18rem;
  padding-bottom: 13rem;
  max-width: 100%;
  position: absolute;
  left: 40rem;
} */

/* .section-visi {
  background-image: url(./img/Visi.png);
  background-position: center;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
} */

.section-visi {
  background: linear-gradient(134.96deg, #211a26 20.14%, #1f1a38 98.42%);
}
/* 
.quote::before {
  display: block;
  color: #fff;
  content: close-quote;
  font-size: 10rem;
}

.quote::after {
  display: block;
  color: #fff;
  content: close-quote;
  font-size: 10rem;
} */

/* .section-misi {
  background-image: url(./img/Misi.png);
  background-position: center;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
} */

.section-misi {
  background: linear-gradient(134.96deg, #211a26 20.14%, #1f1a38 98.42%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer {
  background: #151515;
}

.footer-padding {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.jajaran-direksi {
  background-image: url(./img/Jajaran-Direksi.png);
  background-position: center;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

.text-jajaran {
  font-size: 40px;
  font-family: "Montserrat";
}

.text-pt {
  font-size: 24px;
  font-family: "Montserrat";
}
/* 
.padding-buku {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
} */
